.correct {
    /* font-weight: bold; */
    color: green;
}

.incorrect {
    /* font-weight: bold; */
    color: red;
}

.active {
    margin: 5px;
    /* font-weight: bold; */
    background-color: lightgrey;
    padding-left: 7px;
}

.para {
    padding: 15px;
    /* height: 139px;
    overflow: hidden; */
    border-radius: 8px;
    border: 1px solid #8eb6d8;
    font-size: 2.2em;
    line-height: 1.6em;
    border: 1px solid lightgrey;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2em;
    font-family: 'Times New Roman', Times, serif;
}